@import "tailwindcss";

body {
  background-color: #09090B;
  color: #A1A1AA;
}

::selection {
  background-color: #FACC15;
  color: #000000;
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  background-color: #18181B;
  background-image: none;
  border: 1px solid #27272A;
  border-radius: 12px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  height: 44px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  transition: background-color .2s, border-color .2s, box-shadow .2s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  flex-grow: 1;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  color: #FFFFFF;
}

.gsi-material-button .gsi-material-button-state {
  transition: opacity .2s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #18181B80;
  border-color: #27272A;
  color: #52525B;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 40%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 40%;
}

.gsi-material-button:not(:disabled):hover {
  border-color: #FACC15;
  background-color: #202024;
  box-shadow: 0 0 16px rgba(250, 204, 21, 0.15);
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #FACC15;
  opacity: 10%;
}

